<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nuevo Movimiento</title>
    <link rel="stylesheet" th:href="@{/css/sb-admin-2.min.css}">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
</head>
<body>
<div class="container mt-4">
    <h2>Registrar Movimiento</h2>
    <form th:action="@{/movimiento/guardar}" th:object="${movimiento}" method="post">
        <div class="form-group">
            <label>Monto</label>
            <input type="number" step="0.01" class="form-control" th:field="*{monto}" required>
        </div>

        <div class="form-group">
            <label>Tipo</label>
            <select class="form-control" th:field="*{tipo}" required>
                <option value="Ingreso">Ingreso</option>
                <option value="Gasto">Gasto</option>
            </select>
        </div>

        <div class="form-group">
            <label>Descripción</label>
            <input type="text" class="form-control" th:field="*{descripcion}" required>
        </div>


        <div class="form-group">
            <label>Usuario</label>
            <select class="form-control" th:field="*{usuario.id}" required>
                <option th:each="usuario : ${usuarios}"
                        th:value="${usuario.id}"
                        th:text="${usuario.nombre}">
                </option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Guardar Movimiento</button>
    </form>
</div>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>
